package com.icl.bean;
import java.util.Scanner;
public class Registration 
{
		String Fname="";
		String Lname="";
		String Pin="";

		public String getFname() {
			return Fname;
		}
		public void setFname(String Fname) {
			this.Fname = Fname;
		}
		
		public String getLname() {
			return Lname;
		}
		public void setLname(String Lname) {
			this.Lname = Lname;
		}
		
		public String getPin() {
			return Pin;
		}
		public void setPin(String Pin) {
			this.Pin = Pin;
		}
	    
		public static void main(String args[])
		 {
			
			Registration Reg=new Registration();
			Scanner sc= new Scanner(System.in);
			System.out.println("Please Enter Fname");
			String Fname=sc.next();
			Reg.setFname(Fname);
			System.out.println("Please Enter Lname");
			String Lname=sc.next();
			Reg.setLname(Lname);
			System.out.println("Please Enter Pin");	
			String Pin=sc.next();
			Reg.setPin(Pin);
			
			StringBuffer str= new StringBuffer(Lname);
			StringBuffer str1= new StringBuffer(Fname);
			StringBuffer str2= new StringBuffer(Pin);
			convertOpposite(str);convertOpposite(str1);
			if(Lname.length()>Fname.length())
			{
				System.out.println("The Lname is greater than Fname\n");
			    System.out.print("The Username is: ");
			    System.out.print(str1.substring(str1.length() - 1));
			}
			else if(Lname.length()<Fname.length())
			{
				System.out.println("The Lname is smaller than Fname\n");
	    		System.out.print("The Username is: ");
	    		System.out.print(str.substring(str.length() - 1));
			}
			
			else if(Lname.length()==Fname.length())
			{
				String s=Lname;
				String s1=Fname;
			    if (s.compareTo(s1) > 0)
			    {
				    System.out.println("The Lname is greater than Fname\n");
				    System.out.print("The Username is: ");
				    System.out.print(s1.substring(s1.length() - 1));
			    }
			    else if(s.compareTo(s1) < 0)
			       {
			    		System.out.println("The Lname is smaller than Fname\n");
			    		System.out.print("The Username is: ");
			    		System.out.print(s.substring(s.length() - 1));
			       }
			    else
			       {
			    		System.out.println("The Lname and Fname are equals\n");
			    		System.out.print("The Username is: ");
			    		System.out.print(s.substring(s.length() - 1));
			       }
			  
		   }
			//convertOpposite(str);
			
			System.out.print(str1);//first string printing
			System.out.print(str2.charAt(str2.length() - 1));//for last digit of pin
			System.out.print(str2.charAt(0));//for first digit of pin
			
		 }
static void convertOpposite(StringBuffer str6)
	  {
	    int ln = str6.length();
	    for (int i=0; i<ln; i++)
	       {
	          Character c = str6.charAt(i);
	          if (Character.isLowerCase(c))
	               str6.replace(i, i+1, Character.toUpperCase(c)+"");
	           else
	               str6.replace(i, i+1, Character.toLowerCase(c)+"");
	        }
	   }
}
